.header {
  position: fixed;
  top: 0;
  width: 100%;

  &_top {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 8px 22px;
    align-items: center;
    justify-content: space-between;
    background: $primary-color;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

    &_info {
      display: flex;
      gap: 8px;
      align-items: center;

      .logo_text {
        color: $contrast;
        font-size: 1.31rem;
        font-weight: 600f;
      }
    }
    
    &_menu {
      display: flex;
      flex-direction: row;
      button {
        font-size: 0.7rem;
        color: $secondary-color;
        text-decoration: underline;
      }

      .menu_button:hover{
        background: $primary-color-hover;
        transition: 50ms ease-in-out;
      }
    }
  }

  &_bottom {
    display: flex;
    justify-content: end;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    width: 100%;
    background: white;
    font-size: 0.7rem;
  }
}

@media (min-width: 430px) {
  .header {
    position: relative;

    &_top {
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
    }

    &_bottom {
      width: auto;
      background: none;
    }
  }
}
